﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FormName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorTemplateDotNet6.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/lusd-logo-secondary-192.png">
</head>
@{var root = Html.Raw(Url.Content("~/")); }
<body>
    <header class="p-3 mb-3 shadow">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="@root" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="~/images/lusd-logo-secondary.svg" alt="LUSD logo" class="me-3" height="48">
                    <span class="header-title">FormName</span>
                </a>
                <div class="ms-md-auto text-muted">
                    Logged in as @User.Identity?.Name?.Split('\\')[1]
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main class="pt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted small py-4">
        <div class="container">
            <hr>
            <p class="float-end">
                Support:
                <a href="https://lodiusd.atlassian.net/servicedesk/customer/portals" target="_blank" class="text-muted text-underline-hover"><img src="~/images/jira-icon.svg" class="ms-2 me-1" alt="Service and Support Portal" />Portal</a>
                <a href="mailto:support@lodiusd.net" target="_blank" class="text-muted text-underline-hover"><i class="fas fa-envelope ms-2 me-1"></i>support@lodiusd.net</a>
                <i class="fas fa-phone ms-2 me-1"></i>331-TECH/953-TECH or Jive 910507
            </p>
            <p>&copy; @DateTime.Now.Year Lodi Unified School District</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>