.header-title {
    font-size: 200%;
    font-weight: 500;
    color: #46236a;
    text-transform: uppercase;
}

.alert-auto {
    display: inline-block;
}

.text-underline-hover {
    text-decoration: none;
}

    .text-underline-hover:hover {
        text-decoration: underline;
    }