﻿@page
@model IndexModel

<h4>Some title</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque turpis at dui maximus feugiat. Suspendisse neque lacus, cursus ac elit eu, consequat vulputate neque. Maecenas a libero consectetur, euismod enim in, dictum elit. Nullam viverra neque non dui sagittis, ut bibendum tellus lobortis. Pellentesque sodales, odio eu blandit pulvinar, risus lorem pharetra ligula, a lacinia ipsum nunc eget ex. Nam metus purus, commodo eget sagittis id, tincidunt id velit. Nam sollicitudin blandit pellentesque. Vivamus pharetra eros cursus sapien vehicula, et semper nulla lacinia. Praesent tincidunt facilisis nunc, a congue libero volutpat et. Curabitur diam dolor, dignissim quis efficitur vel, volutpat vitae elit. Fusce bibendum enim urna. Aenean pulvinar fermentum justo sed maximus. Maecenas turpis neque, facilisis in dolor ut, volutpat sodales lectus. Integer porttitor ornare quam, consectetur pellentesque orci feugiat sed.</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        const root = @Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Request.Scheme + "://" + Request.Host + Request.PathBase + Request.Path, true));
    </script>
}